/* --- Colours --- */

$cream: #FFE3CC;
$black: #252644;
$red: #FF6F6B;


$white: #fff;
//$black: #252644;
$grey: #eee;
$lightGrey: lighten($grey, 5%);

/* --- Colours --- */

$containerRadius:60px;


/* --------------------------------*/

/* --- Fonts --- */

$primaryFont: 'Open Sans';
$secondaryFont: 'Open Sans';

/* --- Fonts --- */

$boxShadow: 0px 30px 60px rgba($black, 0.16);

/* --------------------------------*/


/* --- Media Querys --- */

$largeMobile: "(min-width: 425px)";
$small-tablet: "(min-width: 600px)";
$tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width: 1420px)";

// example: @media #{$small-tablet} { }

/* --- Media Querys --- */
